<hr>
<div class="container-fluid">
    <h3 style="color:chocolate">Detalle del proyecto</h3>
    <form [formGroup]="formularioProyecto">
        <div class="form-group">
            <div class="row">

                <div class="col-md-4">

                    <label for="nombre">
                    Nombre
                  </label>
                    <input class="form-control" type="text" id="nombre" formControlName="nombre" [ngClass]="{'is-invalid': formularioProyecto.controls['nombre'].errors}">
                    <small *ngIf="formularioProyecto.controls['nombre'].errors">Longitud mínima de tres caracteres</small>
                </div>
                <div class="col-md-4">
                    <label for="codLista">
                      Código Lista
                    </label>
                    <input class="form-control" type="text" id="codLista" formControlName="codLista" [ngClass]="{'is-invalid': formularioProyecto.controls['codLista'].errors}">
                    <small *ngIf="formularioProyecto.controls['codLista'].errors">Longitud mínima de tres caracteres</small>
                </div>
                <div class="col-md-4">
                    <button disabled="{{formularioProyecto.controls['nombre'].errors}}" style="position: relative; height: 50%; top: 25%" type="button" (click)="Modificar_proyecto()" class="btn btn-block btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr>
<h3 style="color:chocolate">Componentes del proyecto</h3>
<div class="container-fluid" *ngIf="proyectoCompleto">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <th>
                        #
                    </th>
                    <th>
                        Rerencia
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Código Airzone
                    </th>
                    <th>
                        URL
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let prcomponente of proyectoCompleto.comProyecto; let i=index">
                        <td>
                            {{i}}
                        </td>
                        <td>
                            {{prcomponente.referencia}}
                        </td>
                        <td>
                            {{prcomponente.descripcion}}
                        </td>
                        <td>
                            {{prcomponente.estado}}
                        </td>
                        <td>
                            {{prcomponente.codAirzone}}
                        </td>
                        <td>
                            <a href="{{prcomponente.url}}">{{prcomponente.url}}</a>
                        </td>
                        <td>
                            {{prcomponente.cantidad}}
                        </td>
                        <td>
                            <button class="btn btn-block" (click)="Detalle(prcomponente._id)">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button class="btn btn-block btn-success" [routerLink]="['/nuevocompproy', idProyecto]">Nuevo componente</button>
        </div>
        <div class="col-md-5"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button class="btn btn-block btn-danger" [routerLink]="['/prototipos']">Volver</button>
        </div>
        <div class="col-md-5"></div>
    </div>

</div>