<div class="grid-container">
    <div class="Formulario">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">

                            <label for="referencia">
                  Referencia
                </label>
                            <input type="text" class="form-control" id="referencia" [(ngModel)]="editando.referencia" name="referencia" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                              Fabricante
                            </label>
                            <input type="text" class="form-control" id="fabricante" [(ngModel)]="editando.fabricante" name="fabricante" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                            Descripcion
                          </label>
                            <input type="text" class="form-control" id="fechaEntrada" [(ngModel)]="editando.descripcion" name="descripcion" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                          Fecha entrada
                        </label>
                            <input type="text" class="form-control" id="fechaEntrada" [(ngModel)]="editando.fechaEntrada" name="fechaEntrada" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                              Cantidad
                            </label>
                            <input type="text" class="form-control" id="cantidad" [(ngModel)]="editando.cantidad" name="cantidad" />
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="Crear_componente()">
                          Crear
                      </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="Listado">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Referencia
                                </th>
                                <th>
                                    Fabricante
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Fecha entrada
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let componente of componentes; let i=index">
                                <td>
                                    {{i}}
                                </td>
                                <td>
                                    {{componente.referencia}}
                                </td>
                                <td>
                                    {{componente.fabricante}}
                                </td>
                                <td>
                                    {{componente.descripcion}}
                                </td>
                                <td>
                                    {{componente.fechaEntrada}}
                                </td>
                                <td>
                                    {{componente.cantidad}}
                                </td>
                                <td>
                                    <input type="button" (click)="Eliminar(componente._id)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>