<div class="container-fluid" *ngIf="editando">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="referencia">
                          Referencia
                        </label>
                            <input type="text" class="form-control" id="referencia" [(ngModel)]="editando.referencia" name="referencia" />
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="fabricante">
                          Fabricante
                        </label>
                            <input type="text" class="form-control" id="fabricante" [(ngModel)]="editando.fabricante" name="fabricante" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="cantidad">
                              Cantidad
                            </label>
                            <input type="number" class="form-control" id="cantidad" [(ngModel)]="editando.cantidad" name="cantidad" />
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="codAirzone">
                        Código Airzone
                      </label>
                            <input type="text" class="form-control" id="codAirzone" [(ngModel)]="editando.codAirzone" name="codAirzone" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <label for="descripcion">
                              Descripción
                            </label>
                            <input type="text" class="form-control" id="descripcion" [(ngModel)]="editando.descripcion" name="descripcion" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="fechaEntrada">
                            Estado
                          </label>
                            <!-- values: ['SOLICITADA', 'HOMOLOGANDO', 'RECHAZADA', 'HOMOLOGADA', 'NO_APLICA'], -->
                            <!-- No tiene sentido los estados HOMOLOGANDO, HOMOLOGADA y RECHAZADA -->
                            <select class="form-control" id="estado" [(ngModel)]="editando.estado" name="estado">
                            <option value="SOLICITADA">SOLICITADA</option>
                            <!-- <option value="HOMOLOGANDO">HOMOLOGANDO</option>
                            <option value="RECHAZADA">RECHAZADA</option>
                            <option value="HOMOLOGADA">HOMOLOGADA</option> -->
                            <option value="NO_APLICA">NO APLICA</option>
                          </select>
                            <!-- <input type="text" class="form-control" id="fechaEntrada" [(ngModel)]="editando.fechaEntrada" name="fechaEntrada" /> -->

                        </div>
                    </form>
                </div>
                <div class="col-md-10">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <form role="form">
                        <div class="form-group">
                            <label for="Urgencia">
                          Urgencia
                        </label>
                            <!-- values: ['MUY URGENTE', 'URGENTE', 'NECESARIO', 'MEJORA'], -->
                            <select class="form-control" id="urgencia" [(ngModel)]="editando.urgencia" name="urgencia">
                          <option value="MUY URGENTE">MUY URGENTE</option>
                          <option value="URGENTE">URGENTE</option>
                          <option value="NECESARIO">NECESARIO</option>
                          <option value="MEJORA">MEJORA</option>
                        </select>
                            <!-- <input type="text" class="form-control" id="fechaEntrada" [(ngModel)]="editando.fechaEntrada" name="fechaEntrada" /> -->

                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <form role="form">
                        <div class="form-group">
                            <label for="Motivo">
                          Motivo
                        </label>
                            <input type="text" class="form-control" id="motivo" [(ngModel)]="editando.motivo" name="motivo" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-block" (click)="Crear_componente()">
                      <img src="assets/arrow-circle-bottom-3x.png">
                        Crear
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>