<hr>
<h3 style="color: chocolate">Listado de proyectos</h3>
<div class="grid-container">
    <div class="Listado">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- <small> {{ componentes | porTipo:{tipo: tipo,busqueda: busqueda, nada: componentes} | json}}</small> -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Código de lista
                                </th>
                                <th></th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <!-- <small>{{componentes | json}} </small>
                        <br><br>
                        <hr>
                        <small>{{componentes | porTipo:{tipo: tipo,busqueda: busqueda} | json}}</small> -->
                        <tbody>
                            <tr *ngFor="let proyecto of proyectos; let i=index">
                                <td>
                                    {{i}}
                                </td>
                                <td>
                                    {{proyecto.nombre}}
                                </td>
                                <td>
                                    {{proyecto.codLista}}
                                </td>
                                <td>
                                    <button style="margin-left: 10%" class="btn btn-success" type="button" (click)="Eliminar(proyecto._id, i)">Eliminar</button>
                                    <button style="margin-left: 10%" type="button" class="btn btn-dark" (click)="Modificar(proyecto._id)">Detalle</button>
                                </td>
                                <!-- <td>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div style="text-align: center">
                        <button class="btn btn-block btn-success" [routerLink]="['/nuevoproyecto']" style="text-align: center">Crear nuevo proyecto</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div style="text-align: center">
                        <button class="btn btn-block btn-danger" [routerLink]="['/entrada']" style="text-align: center">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>